<div id="cookie-popup" class="cookie-popup">
    <div class="cookies-wrapper">
    <button class="popup-close-button" aria-label="close button">
        <img class="popup-svg" src="/img/close.png" alt="Close" width="24" height="24">
    </button>
    <img class="cookies-img" src="/img/cookie.png" alt="Cookies Icon" width="77" height="68"/>
    <p class="cookie-class">Our website use cookies. By continuing <span class="cook-desk">navigating</span>, we assume your permission to deploy cookies as detailed in our 
        <a class="cookies-policy-link" href="Privacy Policy.html">Privacy Policy.</a></p>
    <div class="cookie-buttons">
        <button id="accept-cookies" class="btn-accept">
            <img src="/img/union.png" alt="Cookie" width="14" height="14"> Accept cookies</button>
        <button id="decline-cookies" class="btn-decline">Decline</button>
    </div>
    </div> 
</div>