<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
    <ul class="footer-navigation">
      <li class="footer-link">
        <a class="footer-underline" target="_blank" href="policy/privacy.pdf">Privacy policy |</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" target="_blank" href="policy/terms.pdf">Terms and conditions |</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" target="_blank" href="policy/cookies.pdf">Cookie policy</a>
      </li>
    </ul>
    <p class="footer-mail">Email: 
      <a class="footer-mail-link" href="mailto:info@adventurejaba.site">info@adventurejaba.site</a>
    </p>
    <p class="footer-text">All rights reserved | Adventure Isles: Farm, Explore | adventurejaba.site | 2025</p>
  </div>
</div>
</footer>