<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
    <ul class="footer-navigation">
      <li class="footer-link">
        <a class="footer-underline" href="Privacy Policy.html">Privacy policy |</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="Terms and Conditions.html">Terms and conditions |</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="Cookies Policy.html">Cookie policy</a>
      </li>
    </ul>
    <p class="footer-mail">Email: 
      <a class="footer-mail-link" href="mailto:info@adventurejaba.site">info@adventurejaba.site</a>
    </p>
    <p class="footer-text">All rights reserved | Adventure Isles: Farm, Explore | adventurejaba.site | 2025</p>
  </div>
</div>
</footer>