<header class="header" id="site-header">
  <div class="header-container container">
      <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 12H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 18H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 6H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />  </svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">
            <img src="/img/star.png" alt="star" class="nav-icon" />Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#About">
            <img src="/img/star.png" alt="star" class="nav-icon" />About</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Key">
            <img src="/img/star.png" alt="star" class="nav-icon" />Features</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Play">
            <img src="/img/star.png" alt="star" class="nav-icon" />How to Play</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Farm">
            <img src="/img/star.png" alt="star" class="nav-icon" />Farm & Build</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Island">
            <img src="/img/star.png" alt="star" class="nav-icon" />Explore the Island</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Quests">
            <img src="/img/star.png" alt="star" class="nav-icon" />Secrets & Quests</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Reviews">
            <img src="/img/star.png" alt="star" class="nav-icon" />Player Reviews</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Contact">
            <img src="/img/star.png" alt="star" class="nav-icon" />Contact & Support</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#FAQ">
            <img src="/img/star.png" alt="star" class="nav-icon" />FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item home-link" href="index.html#Home">Home
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
    <li><a class="menu-list-item" href="index.html#About">About
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
    <li>
      <a class="menu-list-item" href="index.html#Key">Features
        <img src="/img/star.png" alt="star" class="nav-icon" />
      </a>
    </li>
    <li><a class="menu-list-item" href="index.html#Play">How to Play
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
    <li><a class="menu-list-item" href="index.html#Farm">Farm & Build
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
    <li><a class="menu-list-item" href="index.html#Island">Explore the Island
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
    <li><a class="menu-list-item" href="index.html#Quests">Secrets & Quests
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
    <li><a class="menu-list-item" href="index.html#Reviews">Player Reviews
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
    <li><a class="menu-list-item" href="index.html#Contact">Contact & Support
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
    <li><a class="menu-list-item" href="index.html#FAQ">FAQ
      <img src="/img/star.png" alt="star" class="nav-icon" />
    </a></li>
  </ul>
  <ul class="policy-navigation">
    <li class="policy-link">
      <a class="policy-underline" target="_blank" href="policy/privacy.pdf">Privacy policy </a>
    </li>
    <li class="policy-link">
      <a class="policy-underline" target="_blank" href="policy/terms.pdf">Terms and conditions </a>
    </li>
    <li class="policy-link">
      <a class="policy-underline" target="_blank" href="policy/cookies.pdf">Cookie policy</a>
    </li>
  </ul>
</div>