<!-- Home -->
<section class="home-section">
    <div class="container">
        <h1 class="visually-hidden">Adventure Isles</h1>
        <picture>
            <source srcset="
            /img/hero/logo-desk.png 1x,
            /img/hero/logo-desk@2x.png 2x
           " media="(min-width: 1439px)" />
            <source srcset="
            /img/hero/logo-mob.png 1x,
            /img/hero/logo-mob@2x.png 2x
           " media="(max-width: 1438px)" />
            <img class="logo-img" src="/img/hero/logo-mob.png" alt="Adventure Isles" loading="lazy" />
        </picture>
        <div class="heading-wrapper home-wrapper">
            <h2 class="outline-text home-subtitle">Explore, and Uncover<br>the Island’s Secrets!</h2>
            <h2 class="gradient-text home-subtitle">Explore, and Uncover<br>the Island’s Secrets!</h2>
            </div>
        <p class="home-text">Adventure Isles invites you into a world where farming and exploration meet. With Arya and her companions, you will farm
        the island, solve its mysteries, and uncover secrets hidden within strange symbols and glimmering portals. Ready for the
        adventure of a lifetime?</p>
        <a class="home-link" href="#Key">
            <picture>
                <source srcset="
                /img/hero/hero-desk.png 1x,
                /img/hero/hero-desk@2x.png 2x
                " media="(min-width: 1439px)" />
                <source srcset="
                /img/hero/hero-mob.png 1x,
                /img/hero/hero-mob@2x.png 2x
               " media="(max-width: 1438px)" />
                <img class="btn-img" src="/img/hero/hero-mob.png" alt="Start Your Adventure" loading="lazy" />
            </picture>  
        </a>
    </div>
</section>
<!-- About Adventure Isles -->
<section class="about-section">
    <div class="container about-container">
        <div class="heading-wrapper">
            <h2 class="outline-text">About Adventure Isles</h2>
            <h2 class="gradient-text">About Adventure Isles</h2>
        </div>
        <p class="about-text">Adventure Isles: Farm, Explore is a family-friendly farming and adventure simulation game set on a mysterious island.<br class="about-desk"/>
        Join Arya as she wakes up on an island full of unexplained phenomena, and begin your journey of exploration and
        survival.</p>
        <ul class="about-list">
            <li class="about-item">
                <h3 class="about-item-subtitle">Farm and Harvest:</h3>
            <p class="about-item-text">Grow crops, raise animals, and manage your farm to sustain the island's inhabitants.</p>
        </li>
            <li class="about-item">
                <h3 class="about-item-subtitle">Uncover Mysteries:</h3>
                <p class="about-item-text">Explore the island’s secrets, complete quests, and solve ancient puzzles.</p>
            </li>
            <li class="about-item">
                <h3 class="about-item-subtitle">Workshops and Upgrades:</h3>
                <p class="about-item-text">Build and upgrade workshops to process your crops and meet the needs of the islanders.</p>
            </li>
            <li class="about-item">
                <h3 class="about-item-subtitle">Explore with Friends:</h3>
                <p class="about-item-text">Adventure with your companions, discovering treasures and hidden corners of the island.</p>
            </li>
        </ul>
        <img class="about-flower-mob" src="/img/about/flower-mob.png" alt="Flower" loading="lazy">
        <img class="about-flower-desk" src="/img/about/flower-desk.png" alt="Flower" loading="lazy">
        <img class="about-img-mob" src="/img/about/mob.png" alt="Adventure Isles" loading="lazy">
        <img class="about-img-desk" src="/img/about/desk.png" alt="Adventure Isles" loading="lazy">
    </div>
</section>