<!-- Home -->
<section class="home-section">
    <div class="container">
        <h1 class="visually-hidden">Adventure Isles</h1>
        <picture>
            <source srcset="
            /img/hero/logo-desk.png 1x,
            /img/hero/logo-desk@2x.png 2x
           " media="(min-width: 1439px)" />
            <source srcset="
            /img/hero/logo-mob.png 1x,
            /img/hero/logo-mob@2x.png 2x
           " media="(max-width: 1438px)" />
            <img class="logo-img" src="/img/hero/logo-mob.png" alt="Adventure Isles" loading="lazy" />
        </picture>
        <div class="heading-wrapper home-wrapper">
            <h2 class="outline-text home-subtitle">Explore, and Uncover<br>the Island’s Secrets!</h2>
            <h2 class="gradient-text home-subtitle">Explore, and Uncover<br>the Island’s Secrets!</h2>
            </div>
        <p class="home-text">Adventure Isles invites you into a world where farming and exploration meet. With Arya and her companions, you will farm
        the island, solve its mysteries, and uncover secrets hidden within strange symbols and glimmering portals. Ready for the
        adventure of a lifetime?</p>
        <a class="home-link" href="#Key">
            <picture>
                <source srcset="
                /img/hero/hero-desk.png 1x,
                /img/hero/hero-desk@2x.png 2x
                " media="(min-width: 1439px)" />
                <source srcset="
                /img/hero/hero-mob.png 1x,
                /img/hero/hero-mob@2x.png 2x
               " media="(max-width: 1438px)" />
                <img class="btn-img" src="/img/hero/hero-mob.png" alt="Start Your Adventure" loading="lazy" />
            </picture>  
        </a>
    </div>
</section>
<!-- About Adventure Isles -->
<section class="about-section">
    <div class="container about-container">
        <div class="heading-wrapper">
            <h2 class="outline-text about-subtitle">About Adventure Isles</h2>
            <h2 class="gradient-text about-subtitle">About Adventure Isles</h2>
        </div>
        <p class="about-text">Adventure Isles: Farm, Explore is a family-friendly farming and adventure simulation game set on a mysterious island.<br class="about-desk"/>
        Join Arya as she wakes up on an island full of unexplained phenomena, and begin your journey of exploration and
        survival.</p>
        <ul class="about-list">
            <li class="about-item">
                <h3 class="about-item-subtitle">Farm and Harvest:</h3>
            <p class="about-item-text">Grow crops, raise animals, and manage your farm to sustain the island's inhabitants.</p>
        </li>
            <li class="about-item">
                <h3 class="about-item-subtitle">Uncover Mysteries:</h3>
                <p class="about-item-text">Explore the island’s secrets, complete quests, and solve ancient puzzles.</p>
            </li>
            <li class="about-item">
                <h3 class="about-item-subtitle">Workshops and Upgrades:</h3>
                <p class="about-item-text">Build and upgrade workshops to process your crops and meet the needs of the islanders.</p>
            </li>
            <li class="about-item">
                <h3 class="about-item-subtitle">Explore with Friends:</h3>
                <p class="about-item-text">Adventure with your companions, discovering treasures and hidden corners of the island.</p>
            </li>
        </ul>
        <img class="about-flower-mob" src="/img/about/flower-mob.png" alt="Flower" loading="lazy">
        <img class="about-flower-desk" src="/img/about/flower-desk.png" alt="Flower" loading="lazy">
        <img class="about-img-mob" src="/img/about/mob.png" alt="Adventure Isles" loading="lazy">
        <img class="about-img-desk" src="/img/about/desk.png" alt="Adventure Isles" loading="lazy">
    </div>
</section>
<!-- How to Play Adventure Isles -->
<section class="play-section">
    <div class="container">
        <div class="heading-wrapper play-wrapper">
            <h2 class="outline-text play-subtitle">How to Play Adventure Isles</h2>
            <h2 class="gradient-text play-subtitle">How to Play Adventure Isles</h2>
        </div>
        <ul class="play-list">
            <li class="play-item play-item-one play-item-one-left">
                <img class="play-img" src="/img/play/one.png" alt="One" loading="lazy">
<p class="play-text"><span class="span">Uncover Mysteries:</span><br/>
Explore the island’s secrets, complete quests, and solve ancient puzzles.</p>
            </li>
            <li class="play-item play-item-three">
                <img class="play-img" src="/img/play/two.png" alt="Two" loading="lazy">
                <p class="play-text"><span class="span">Build Workshops:</span><br />
                Construct various workshops to process the crops and materials you harvest to meet the daily needs of the islanders.</p>
            </li>
            <li class="play-item play-item-two">
                <img class="play-img" src="/img/play/three.png" alt="Three" loading="lazy">
                <p class="play-text"><span class="span">Adventure with Friends:</span><br />
                Explore the island with your friends, searching for treasures and uncovering hidden secrets.</p>
            </li>
            <li class="play-item play-item-one">
                <img class="play-img" src="/img/play/four.png" alt="Four" loading="lazy">
                <p class="play-text"><span class="span">Unlock Secrets:</span><br />
                Solve puzzles and find ancient relics to unlock the island’s mysteries.</p>
            </li>
            <li class="play-item play-item-two">
                <img class="play-img" src="/img/play/five.png" alt="Five" loading="lazy">
                <p class="play-text"><span class="span">Expand Your Island:</span><br />
                Explore new maps and expand your farm as you unlock moreareas on the island.</p>
            </li>
        </ul>
    </div>
</section>
<!-- Key Features -->
<section class="key-section" id="Key">
    <div class="container key-container">
        <div class="heading-wrapper">
            <h2 class="outline-text key-subtitle">Key Features</h2>
            <h2 class="gradient-text key-subtitle">Key Features</h2>
        </div>
        <ul class="key-list">
            <li class="key-item">
                <img class="key-star-img" src="/img/key/star.png" alt="Star" loading="lazy">
                <p class="key-text"><span class="span">Farming and Harvesting:</span><br/>
                Grow and harvest a variety of crops and care for different animals on the island.</p>
            </li>
            <li class="key-item">
                <p class="key-text"><span class="span">Workshop Building:</span><br />
                Construct and upgrade workshops to process the products you collect.</p>
                <img class="key-star-img" src="/img/key/star.png" alt="Star" loading="lazy">
            </li>
            <li class="key-item">
                <img class="key-star-img" src="/img/key/star.png" alt="Star" loading="lazy">
                <p class="key-text"><span class="span">Mysteries and Quests:</span><br />
                Solve the island’s ancient puzzles and complete quests touncover its secrets.</p>
            </li>
            <li class="key-item">
                <p class="key-text"><span class="span">Adventure and Exploration:</span><br />
                Explore the island, unlock hidden areas, and search for treasures with your friends.</p>
                <img class="key-star-img" src="/img/key/star.png" alt="Star" loading="lazy">
            </li>
            <li class="key-item">
                <img class="key-star-img" src="/img/key/star.png" alt="Star" loading="lazy">
                <p class="key-text"><span class="span">Beautiful Island Landscape:</span><br />
                Enjoy stunning graphics and immersiveisland environments.</p>
            </li>
            <li class="key-item">
                <p class="key-text"><span class="span">Offline Play:</span><br />
                Continue your farming and exploration adventures without an internet connection.</p>
                <img class="key-star-img" src="/img/key/star.png" alt="Star" loading="lazy">
            </li>
        </ul>
        <picture>
            <source srcset="
            /img/key/desk.png 1x,
            /img/key/desk@2x.png 2x
                   " media="(min-width: 1439px)" />
            <source srcset="
            /img/key/mob.png 1x,
            /img/key/mob@2x.png 2x
                   " media="(max-width: 1438px)" />
            <img class="key-img" src="/img/key/mob.png" alt="Girl" loading="lazy" />
        </picture>
    </div>
</section>
<!-- Farm and Build Your Dream Island -->
<section class="farm-section">
    <div class="container">
        <div class="heading-wrapper farm-wrapper">
            <h2 class="outline-text farm-subtitle">Farm and Build Your Dream Island</h2>
            <h2 class="gradient-text farm-subtitle">Farm and Build Your Dream Island</h2>
        </div>
        <picture>
            <source srcset="
            /img/farm/desk.png 1x,
            /img/farm/desk@2x.png 2x
                           " media="(min-width: 1439px)" />
            <source srcset="
            /img/farm/mob.png 1x,
            /img/farm/mob@2x.png 2x
                           " media="(max-width: 1438px)" />
            <img class="farm-img" src="/img/farm/mob.png" alt="Tablet" loading="lazy" />
        </picture>
        <div class="farm-text-wrapper">
            <p class="farm-text"><span class="span">Farming:</span><br/>
            Grow your crops and take care of animals. Harvest everything you need to thrive on this new island.</p>
            <p class="farm-text"><span class="span">Workshops:</span><br/>
            Build a variety of workshops that help process your crops and materials, improving efficiency and enabling you to meet
            the islanders' needs.</p>
            <p class="farm-text"><span class="span">Upgrade:</span><br/>
            Improve your buildings and facilities to expand your island and increase your farming output.</p>
        </div>
    </div>
</section>