.footer{
  background: #001662;
}
.footer-container{
  padding: 40px 20px;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 12px;
  margin-bottom: 28px;
}
.footer-link{
  cursor: pointer;
  text-align: center;
}
.footer-mail{
  font-size: 10px;
  margin-bottom: 28px;
  text-align: center;
}
.footer-mail-link{
  text-decoration: underline;
    text-decoration-skip-ink: none;
}
.footer-text{
  font-size: 8px;
  text-align: center;
}
@media only screen and (min-width: 1439px) {
  .footer-container {
      padding: 40px 88px;
 }
 .footer-wrapper{
  display: flex;
  justify-content: space-between;
 }
 .footer-navigation{
  margin-bottom: 0;
  font-size: 16px;
 }
 .footer-mail{
  margin-bottom: 0;
 }
 .footer-text{
  font-size: 12px;
 }
}