@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');



.background-policy {
    background: #fff;
    font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
        color: #040404;
        text-align:justify;
}

.privacy-title {
    font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 28px;
        line-height: 1.14286;
        text-transform: uppercase;
        text-align: center;
        color: #040404;
        margin-top: 60px;
        margin-bottom: 40px;
}

.text-span {
    font-weight: 500;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    font-weight:700;
    margin-top: 20px;
    text-align: left;
}

.policy-list {
    list-style-type: disc;
    padding-left: 16px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 16px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .privacy-title {
        font-size: 32px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
}
@media print {

    html,
    body {
        max-width: 1440px;
        overflow: visible;
    }

    .container {
        max-width: none;
        width: 90%;
    }   }